@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,500&display=swap');

html,body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    margin: 0;
    padding: 0;
    min-height: 100%;
}


canvas#chart, div#chart {
    display: block;
    padding:0;
    margin-top: 10%; 
    margin-left:10%;
    margin-bottom:auto;
    margin-right:auto;
    max-width: 80%;
    max-height:70%;
    background:#fff;
}

@media screen and (orientation:landscape){
    div#chart {
        height:71vh;
    }
}

svg{
    width: 100%;
    height:100%;
}

nav{
	position:fixed;
	bottom:6vh;
	left:0;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    color:222;
    padding:.75rem 0;
    z-index:999;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
}

nav a{
    color:black;
    background:white;
    text-decoration: none;
    padding:0 0.2rem;
    font-weight: 300;
}

nav a.actual{
    color:white;
    background:black;
}

nav a:hover{
    color:white;
    background:black;
    font-weight: 500;
}